<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>register.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.tech.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonServlet</display-name>
    <servlet-name>CommonServlet</servlet-name>
    <servlet-class>com.tech.Servlet.CommonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonServlet</servlet-name>
    <url-pattern>/CommonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Management</display-name>
    <servlet-name>Management</servlet-name>
    <servlet-class>com.tech.Servlet.Management</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Management</servlet-name>
    <url-pattern>/Management</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActionLegalServlet</display-name>
    <servlet-name>ActionLegalServlet</servlet-name>
    <servlet-class>com.tech.Servlet.ActionLegalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionLegalServlet</servlet-name>
    <url-pattern>/ActionLegalServlet</url-pattern>
  </servlet-mapping>
</web-app>